    <footer>
      <div class="container-fluid bg-dark">
        <div class="row">
          <div class="col-4">
            <p>Link</p>
          </div>
          <div class="col-4">
            Link
          </div>
          <div class="col-4">
            Link
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            Link
          </div>
          <div class="col-4">
            Link
          </div>
          <div class="col-4">
            Link
          </div>
        </div>

        <div id="gotop">
          <a href="#blank">TOP</a>
        </div>
        <div id="startmy">
          <p>from 7/2020</p>
        </div>

      </div>



    </footer>

  </body>
</html>