<footer>
    <div class="container-fluid bg-dark">
        <div class="row">
            <div class="col-md-6 col-12">
                <ul class="nav ms-auto flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link active text-muted" href="{{ url_for('profile') }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="{{ url_for('application') }}">Application</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="{{ url_for('library') }}">Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="{{ url_for('investment') }}">Investment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="{{ url_for('biography') }}">Biography</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-6 col-12 justify-content-center">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="http://kkkbt.sakura.ne.jp/index.html">Former website</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-muted" href="#">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <button type="button" class="btn btn-light">日本語 / English</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="copy-notice">
            <span class="align-middle text-muted">Copyright © kbt</span>
        </div>

    </div>


</footer>

</body>
</html>