<!DOCTYPE html>
<html la="ja" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>kbt</title>
    <meta name="description"
          content="This website provides you with kkkbt's infomation. Kkkbt majors in mechanical engineering and is intrigued by stock investment, foreign languages, programming, and so on.">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="thumbnail" content="http://kkkbt.sakura.ne.jp/pictures/biography/IMG_1286.JPG">
    <meta name="keywords" content="kkkbt, Arsenal, programming, investment, English">
    <meta name="author" content="Kenta">

    <!-- Bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Bootstrap Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/fc0e0f99e7.js" crossorigin="anonymous"></script>

    <!--  Icon  -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">

    <!-- My CSS -->
    <link rel="stylesheet" href="../static/scss/header_footer.css">