</head>

<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url_for('home') }}">kbt</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <li><a class="nav-link" href="{{ url_for('profile') }}" class="button">Profile</a></li>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('application') }}">Application</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('library') }}">Library</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('investment') }}">Investment</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url_for('biography') }}" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Biography
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('biography') }}">Study Abroad</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('biography') }}">Work</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('biography') }}">School</a></li>
                            <li><a class="dropdown-item disabled" href="{{ url_for('biography') }}">Chinese</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('contact') }}" tabindex="-1">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
