{% include "header.html" %}

<!-- Slide show -->
    <div id="carouselExampleInterval" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#profile_pic" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
      </div>
      
      <div class="carousel-inner">
        <div id="profile_pic" class="carousel-item active" data-bs-interval="5000">
          <img src="../static/img/myself.jpg" class="d-block w-100">
          <div class="carousel-caption d-md-block">
            <h5>Profile</h5>
            <p><a href="">More</a></p>
          </div>
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="../static/img/road.jpg" class="d-block w-100">
          <div class="carousel-caption d-md-block">
            <h5>Biography</h5>
            <p><a href="">More</a></p>
          </div>
        </div>
        <div class="carousel-item"  data-bs-interval="5000">
          <img src="../static/img/stock.jpg" class="d-block w-100">
          <div class="carousel-caption d-md-block">
            <h5>Investment</h5>
            <p><a href="">More</a></p>
          </div>
        </div>
        <div class="carousel-item"  data-bs-interval="5000">
          <img src="../static/img/contact.jpg" class="d-block w-100">
          <div class="carousel-caption d-md-block">
            <h5>Contact</h5>
            <p><a href="">More</a></p>
          </div>
        </div>
        <div class="carousel-item"  data-bs-interval="5000">
          <img src="../static/img/stock.jpg" class="d-block w-100">
          <div class="carousel-caption d-md-block">
            <h5>Profile</h5>
            <p><a href="">More</a></p>
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

{% include "footer.html" %}
