// header
#navbarSupportedContent {
  float: right;
}


// content
.title-img {
  max-width: 100%;
  max-height: 92vh;
  min-height: 90vh;
  margin: auto;
  object-fit: cover;
  display: grid;
}


// footer


