body{
    background-color: black;

    #carouselExampleInterval {
        .carousel-item {
            height: 100%;
            display: grid;
            img {
                max-width: 100%;
                max-height: 92vh;
                min-height: 90vh;
                margin: auto;
                object-fit: cover;
            }
        }
    }
}
